.fa-star {
    color: yellowgreen;
    padding: 3% 0;
}

.nav-icon {
    color: white;
}

#cart_count {
    padding: 3px 10px;
    border-radius: 5rem;
    text-align: center;
}

.shopping-cart {
    padding: 3% 0;
}

.cart-items {
    padding: 1% 0;
}